.apexchart-wrapper{
  .apexcharts-canvas {
    position: relative;
  }

  .apexcharts-canvas line[stroke='transparent'] {
    display: none;
  }

  .apexcharts-tooltip {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-color: #e0e0e0;
    background: #ffffff;
  }

  .apexcharts-tooltip .apexcharts-tooltip-title {
    font-weight: 600;
    border-color: #e0e0e0;
    background: #ffffff;
  }

  .apexcharts-tooltip.apexcharts-theme-light {
    color: #000000;
  }

  .apexchart-tooltip.apexcharts-theme-dark {
    color: #ffffff;
  }

  .apexcharts-tooltip-series-group:first-of-type {
    padding-bottom: 0;
  }

  .apexcharts-tooltip .bar-chart {
    padding: 16px 20px;
  }

  .apexcharts-xaxistooltip,
  .apexcharts-yaxistooltip {
    border-color: #e0e0e0;
    background: #fafafa;
  }

  .apexcharts-xaxistooltip:after,
  .apexcharts-yaxistooltip:after {
    border-bottom-color: #fafafa;
  }

  .apexcharts-xaxistooltip:before,
  .apexcharts-yaxistooltip:before {
    border-bottom-color: #e0e0e0;
  }

  .apexcharts-xaxistooltip-text,
  .apexcharts-yaxistooltip-text {
    color: #000000;
  }

  .apexchart-yaxis .apexcharts-yaxis-texts-g .apexcharts-yaxis-label {
    text-anchor: start;
  }

  .apexchart-pie-label {
    filter: none;
    fill: #ffffff;
  }

  .apexchart-marker {
    box-shadow: none;
  }
}
