input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none; /* สำหรับ Internet Explorer และ Edge */
}

input[type='password']::-webkit-clear-button,
input[type='password']::-webkit-reveal-button {
  display: none; /* สำหรับ Google Chrome และ Safari */
}

input[type='password']::-moz-clear {
  display: none; /* สำหรับ Mozilla Firefox */
}
